:root {
    --text: #676767;
    --primary-light: rgb(244, 243, 243);
    --secondary-light: white;
    --box-shadow: rgb(174, 170, 170);
    --grid-cols: 1;
    --grid-rows: 1;
    --size: 300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body{
    background-color: var(--primary-light);
    color: var(--text);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#main{
    display:flex;
    margin:auto;
    gap: 20px;
    justify-content: center;
}

header{
    margin-top:3vh;
    font-size: 2.5em;
    font-weight: 550;
}

#container {
    height: var(--size);
    width: var(--size);
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: 1px 1px 50px var(--box-shadow);;
}

.grid-item {
    background-color: var(--secondary-light);
    /* improves dragging action in container div */
    user-select: none; 
}

i{
    font-size: 1.9em;
    color: var(--text);
}

#size{
    padding-top: .6em;
    padding-bottom: .6em;
}

.measurement{
    padding: 3px 3px;
    border-radius: 4px;
    border:none;
    background-color: var(--secondary-light);
    color: var(--text);
    width: 40px;
}

#settings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--size);
}

.choice{
    padding: .6em;
    border-radius: 12px;
    background-color: var(--secondary-light);
    transition: transform .15s;
}

.choice:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 5px var(--box-shadow);
}

#pen{
    background-image: linear-gradient(40deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#rainbow{
    background-image: linear-gradient(90deg, rgba(255,0,0,1), rgba(255,154,0,1), rgba(208,222,33,1), rgba(79,220,74,1), rgba(63,218,216,1), rgba(47,201,226,1), rgba(28,127,238,1), rgba(95,21,242,1), rgba(186,12,248,1));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: .5;
}

input, 
button{
    cursor:pointer;
    transition: transform .15s;
}

button {
    background: transparent no-repeat;
    overflow: hidden;
    outline: none;
    border:none;
}

input:hover{
    transform: scale(1.1);
} 

footer{
    width: 100%;
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap:40px;
    padding-top:10px;
    border-top: grey solid 1px;
    opacity: .8;
}

#svg{
    height: 40px;
    width: 32px;
}